USE [master]
GO
/****** Object:  Database [QLSanpham]    Script Date: 6/10/2022 6:03:12 PM ******/
CREATE DATABASE [QLSanpham]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSanpham', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLSanpham.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLSanpham_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLSanpham_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSanpham].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSanpham]
GO
/****** Object:  User [vanlinh]    Script Date: 6/10/2022 6:03:12 PM ******/
CREATE USER [vanlinh] FOR LOGIN [vanlinh] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[LoaiSP]    Script Date: 6/10/2022 6:03:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSP](
	[MaLoai] [nchar](10) NULL,
	[TenLoai] [nchar](32) NULL
) ON [PRIMARY]
GO
USE [master]
GO
